.beerCard{
    background-color: bisque;
    width:10rem;
    padding: 1rem;
    border-radius:1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.385);

}

img{ padding-top:1rem; 
    width:3rem;}

.red{
    color:red;
    
}
.grey{
    color:grey;
}

.likeRow>button{
    background: none;
    border:none;
    padding:0.5rem;
    font-size:1.5rem;
}
.likeRow{
    text-align:right;
}